.repo__list-item {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #787878;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;


    background-color: #F0F0F0;
    opacity: 0.8;
    color: #282828;
}

.repo__list-item h3 {
	margin: 0;
	font-size: 2rem;
	color: #154b81;
}

.repo__list-item h4 {
	font-size: 1.17rem;
	color: #282828;
}

.repo__list-item p {
	margin: 0;
}

.repo__list-item-image {
	max-width: 150px; 
	max-height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.repo__list-item-image img {
	max-width: 100%; 
	height:auto;
}

.repo__list-item-image h2 {
	margin: 0;
}