.repo__list-item {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #01a7a7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;

}

.repo__list-item h3 {
	margin: 0;
	font-size: 1.5rem;
	color: #5101d1;
}

.repo__list-item h4 {
	margin-bottom: 0;
	font-size: 1rem;
	color: grey;
}

.repo__list-item p {
	margin: 0;
}