html {
	height: 100%;

}

body {
	margin: 0;
	padding: 0;

	background-repeat: no-repeat;
	font-family: sans-serif;
	background: linear-gradient(to bottom, 
			#252F3A,
			50%
			rgba(44, 62, 80,1.0)
			);

	height: 100%; 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom,
				#252F3A,
				rgba(44, 62, 80,1.0),
				#33F05C);
}

.form-control label,
.form-control input {
	width: 100%;
	display: block;
}

.form-control label {
	margin-bottom: 0.5rem;
}

.form-control {
	margin-bottom: 1rem;
}

.form-actions button,
.btn {
	background: #C0C0C0;
	font: inherit;
	border: 1px solid #787878;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	box-shadow: 1px 1px 5px black;
	cursor: pointer;
    max-width: 40%;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
	background: #33F05C;
	border-color: #33F05C;
}